:root {
  --color-background: #fff8e7;   /* cosmic latte*/
  --color-text: #16161d;	 /* eigengrau */
  --color-text-lighter: #797979;
  --color-emphasis: #e0b1cb;
  --color-emphasis-darker: maroon;
  /* --color-canvas: #ffffdf; */
}

@font-face {
    font-family:"Charis SIL";
    src: local('Charis SIL, BoldItalic'),
	 url("CharisSILBI.woff") format('woff'),
	 url("CharisSIL-BI.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family:"Charis SIL";
    src: local('Charis SIL, Bold'),
	 url("CharisSILB.woff"),
	 url("CharisSIL-B.ttf") format('truetype');
    font-weight: bold;
}
@font-face {
    font-family:"Charis SIL";
    src: local('Charis SIL, Italic'),
	 url("CharisSILI.woff"),
	 url("CharisSIL-I.ttf") format('truetype');
    font-style: italic;
}
@font-face {
    font-family: "Charis SIL";
    src: local('Charis SIL'),
	 url("CharisSILR.woff"),
	 url("CharisSIL-R.ttf") format('truetype');
}

html {
    font-size: 133%;
    background-image: url('/static/dubabin-60.svg');
    background-size: 5%;
}


body {
    max-width: min(95vw, 45em);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 0.2em;
    padding-top: 2em;
    padding-bottom: 2em;
    font-family: "Charis SIL", Georgia, serif;
    color: var(--color-text);
    background-color: var(--color-background);
    background-image: none;
    border: 2px solid;
}

label, caption {
    font-weight: bolder;
}


h1,h2,h3,h4,h5,h6,p {
 line-height: 1.55;
}

h1 {
    font-size: 2em;
    text-align: center;
}
h2 {
    font-size: 1.5em;
    text-align: center;
}
h3 {
    font-size: 1.2em;
    text-align: center;
}

h4 {
    font-size: 1.1em;
    text-align: center;
}

pre, dl, p, ul, caption {
    width: min(30em, 95vw); /* one character ~ 0.5 em*/
    margin-left: auto;
    margin-right: auto;
}

dt {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.org-src-container > pre {
    overflow-x: auto;
}

pre {
    border-left: 0.1em solid;
    padding-left: 1em;
}

blockquote p {
    font-family: monospace;
}

.nav ul {
    list-style-type: none; /* Remove bullets */
}

main, figure, table, div.org-src-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

img {
    padding: 1em;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.33em;
}

.nodisplay {
    display: none;
}

ul.horizontal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding-left: 0;
}

li.option.selected {
    font-weight: 600;
    color: unset;
}
li.option {
    color: var(--color-text-lighter);
    margin-left: 1.1em;
    margin-bottom: 0.5em;
    cursor: pointer;
    padding: 0.2em;
}
li.option:hover {
    background-color: var(--color-emphasis);
    border-radius: 6px;
    color: unset;
}

#navlinks > li {
    margin-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
}

#navlinks::before {
    content: "⟦"
}
#navlinks::after {
    content: "⟧"
}
