@font-face {
    font-family:"CharisSILBoldItalic";
    src: local('CharisSIL-BoldItalic'),
	 url("CharisSILBI.woff"),
	 url("CharisSIL-BI.ttf") format('truetype');
}
@font-face {
    font-family:"CharisSILBold";
    src: local('CharisSIL-Bold'),
	 url("CharisSILB.woff"),
	 url("CharisSIL-B.ttf") format('truetype');
}
@font-face {
    font-family:"CharisSILItalic";
    src: local('CharisSIL-Italic'),
	 url("CharisSILI.woff"),
	 url("CharisSIL-I.ttf") format('truetype');
}
@font-face {
    font-family:"CharisSILRegular";
    src: local('CharisSIL'),
	 url("CharisSILR.woff"),
	 url("CharisSIL-R.ttf") format('truetype');
}

html {
    font-family: 'CharisSILRegular', Fallback, serif;
    font-size: 133%;
    color: #16161d;             /* eigengrau*/
    background-color: #fff8e7;  /* cosmic latte*/
}


* {
    max-width: min(95vw, 45em);
    margin-left: auto;
    margin-right: auto;
}

label, caption {
    font-weight: bolder;
}


h1,h2,h3,h4,h5,h6,p {
 line-height: 1.55;
}

h1 {
    font-size: 2em;
    text-align: center;
}
h2 {
    font-size: 1.5em;
    text-align: center;
}
h3 {
    font-size: 1.2em;
    text-align: center;
}

p {
    max-width: min(30em, 95vw); /* one character ~ 0.5 em*/
}

.org-src-container > pre {
    overflow-x: auto;
}

pre {
    border-left: 0.1em solid;
    padding-left: 1em;
}

blockquote p {
    font-family: monospace;
}

.nav ul {
    list-style-type: none; /* Remove bullets */
}

main, figure, table, div.org-src-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.33em;
}
